/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   @font-face {
       font-family: Virtue;
       src: url('fonts/Virtue.ttf.woff');
   }
b {font-weight:bold;}
i {font-style:italic;}
html{height:100%;width:100%;overflow:hidden;}
body {
    font-family:'Monaco'!important,'Anonymous Pro', monospace;
    background-color:#aaa!important;
    background:url("images/bg.png");
    background-size:2px 2px;
    color:black!important;
    font-size:14px;
    height:100%;
    width:100%;
    overflow:hidden;
}


#splash {
  width:100%;
  height:100%;
  z-index:9001;
  position:absolute;
  background:white;
  display:flex;
}

#start-icon {
  text-align:center;
  width:200px;
  margin:auto;
}

#start-icon img,#start-icon canvas {
    width:80px;
    border:2px solid black;
    transition:all 0.2s;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75);
}

#start-icon div {
  padding-top:3px;
  transition:all 0.2s;
  text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
}

#start-icon:hover > div {
  text-shadow: 0px 0px 0px rgba(150, 150, 150, 1);
  cursor:pointer;
}

#start-icon:hover > img, #start-icon:hover > canvas {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  cursor:pointer;
}

.container {height:100%;width:100%;overflow:hidden;}

.navbar-inverse {
    font-family:'Virtue'!important;
    background-color: white;
    border-color: #000000;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.navbar .btn {
    background:transparent;
    color:black;
}

.menudrop {
    display:inline;
    font-size:14px;
}

.navbar .btn::first-letter {
    color: inherit;
}

.dropdown-menu {
    margin:auto;
    margin-top:1px;
    border:1px black solid;
    background:white;
    box-shadow:3px 3px 0px -1px black;
    -webkit-box-shadow:3px 3px 0px -1px black;
    font-size:14px!important;
}

.dropdown-toggle:hover {
    background-color:black;
    color:white;
}

.dropdown-menu .divider {
    border-top: 1px dotted black;
    background-color:transparent;
}

.dropdown-menu > li > a:hover {
    color:white;
}

a:hover::first-letter, a:focus::first-letter {
    color:white;
}

.application-icon {
    position:absolute;
    display: inline-block;
    text-align: center;
}

.application-icon:hover > div.icon-text {
    background-color:black;
    color:white;
}

.icon-img {
    width:50px;
}

.icon-text {
    font-size: 14px;
    background: white;
    margin-top: 2px;
    max-width: 140px;
}
.icon-text:hover {
    cursor:default;
}

.content-modal {
    position:absolute;
    background-color: white;
    overflow: scroll;
    border: 1px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    height:500px;
    width:500px;
    max-width:100%;
    max-height:100%;
    z-index:2;
    overflow:hidden;
}

.content-modal:focus {
  none;
}

.content-modal.active {
  z-index:1000;
}

.content-modal-header {
    height:25px;
    display:flex;
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 2px solid black;
    position:absolute;
    width:inherit;
    background-color:white;
    background:url('images/header-bg-pattern.png');
    background-size:contain;
    z-index: 100;
}

.content-modal-close {
  background:white;
  z-index:1;
  display:inline;
  margin-left:5px;
  vertical-align:3px;
  padding:2px;
}

.content-modal-close:hover {
  cursor:default;
}

.content-modal-heading{
  background:white;
  z-index:1;
  margin:auto;
  padding:2px;
}

.content-modal-image {
    max-width:400px;
    max-height:400px;
    display: flex;
    margin: auto;
    margin-top:40px;
    margin-bottom:20px;
}

.content-modal-footer {
  width:inherit;
  height:20px;
  border-top:1px solid black;
  border-right:1px solid black;
  position:absolute;
  bottom:0px;
  background:white;
}
.content-modal-content {
  height:100%;width:100%;margin:0;
}
.content-modal-content p{
  margin:20px;
}

.content-wrap {
  margin:40px;
}

.content-wrap div:hover{
  cursor:default;
}
.content-wrap p:hover{
  cursor:default;
}
.container {
    margin-right: 0px;
    margin-left: 0px;
    padding:0px;
}

.articles {height:100%;width:100%;position:absolute;}
.icons {height:100%;width:100%;position:absolute;}
.info {height:100%;width:100%;position:absolute;}
.images {height:100%;width:100%;position:absolute;}

.ui-icon, .ui-widget-content .ui-icon {
background:url('images/resize.png');
background-size:contain;
border:1px black solid;
border-right:0px;
border-bottom:0px;
}
.ui-icon {
  height:20px;
  width:20px;
  bottom:0px;
  right:0px;
}

/*JSP*/

.ui-resizable-helper { border: 1px dotted gray;}
.jspDrag{ background:white; border:1px solid black;}
.jspTrack{background:url('images/scroll-bg.png'); background-size: 16px 6px; border:1px solid black;border-right:0px;}
.jspCap
{
	display: block;
	background: #eeeef4;
}

.jspCap
{
	height: 25px;
  background:white;
}

.jspCapBottom{
  height:20px;
}

.jspVerticalBar {
  width:20px;
}

.jspArrow {
  height:20px!important;
  border:1px solid black;
}

.jspArrowUp {
  background:url('images/up-arr.png');
  background-size:contain;
  background-repeat:no-repeat;
  border-right: 0px;
  border-bottom: 0px;
}

.jspArrowDown {
  background:url('images/down-arr.png');
  background-size:contain;
  background-repeat:no-repeat;
  border-top: 0px;
  border-right: 0px;
}


.jspArrowUp.jspDisabled {
  background: url(images/up-arr.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.jspArrowDown.jspDisabled {
  background: url(images/down-arr.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.jspHorizontalBar {
  display:none;
}

.jspVerticalBar {
  background:white!important;
}

@media (min-width: 979px) {
    ul.nav div.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

.article-heading {
  font-family:'Virtue'!important;
  font-size:1.5em;
  line-height:1.5em;
}

.image-content img {
  width:300px;
}

.image-content {
  height:550px;
  width:400px;
}

#info-1 .content-wrap{
  text-align:center;
  font-family:'Virtue';
  font-size:1.5em;
  line-height:1.5em;
}
#info-1 img, #info-1 canvas{
  width:250px;
  display:flex;
  margin:auto;
}

@media (max-width: 979px) {
    ul.nav div.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

.chat-divide {
width: 100%;
border-top: 1px dotted black;
padding-bottom: 20px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
